#cardImage {
    background-image: url(../images/balloons.png)
}

#update, #wishList, #delete {
    height: 26px;
    background-color: #4ADDAF;
    color: white;
    font-weight: bold;
    font-size: 12px;
}